.jc_fs {
  justify-content: flex-start;
  @media screen and (max-width: 855px) {
    justify-content: center;
  }
}
.width250 {
  width: 250px;
}
.circle {
  width: 151px;
  height: 151px;
  border: 1px solid #f3ebda;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  min-height: auto;
  min-width: auto;
}
.media-card {
  margin: 30px 10px 15px 10px;
  width: 360px;
  &__img {
    min-height: auto;
    min-width: auto;
  }
}
.height-auto {
  height: auto;
}

.border-none {
  border: none;
}
.mr-0 {
  margin-right: 0;
}
.mt-20 {
  margin-top: 20px;
}
.ml-230 {
  margin-left: 230px;
}
.m-0 {
  margin: 0;
}
.m-auto {
  margin: 20px auto;
  display: block;
}
.right-flex {
  justify-content: flex-end;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-bl_m-auto {
  display: block;
  margin: 18px auto;
}
.option-active {
  color: red;
  background-color: greenyellow;
}
.register {
  label.error {
    margin-left: 240px;
    font-size: 13px;
    color: red;
  }
}
#consultation {
  label.error {
    font-size: 13px;
    color: red;
  }
}
.h-110 {
  height: 110%;
}
.big {
  position: fixed;
  top: 15%;
  left: calc(50% - 145px);
  z-index: 18;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  //margin: 10%;
  min-width: 470px;
  min-height: 50%;
  padding: 5%;
  @media screen and (max-width: 500px) {
    min-width: 270px;
    padding: 1%;
  }
}
.status {
  text-align: center;
}
