.address {
  flex-grow: 1;
}
.address-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: 720px) {
    flex-wrap: wrap;
  }
}
.map {
  width: 750px;
  height: 440px;
  margin-right: 30px;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &__item {
    margin: 13px 0;
    font-size: 15px;
    &_title {

      font-weight: 500;
      text-transform: uppercase;
    }
    &_name {
      font-weight: 400;
    }
    &_email {
      display: block;
      color: #c99c47!important;
      font-weight: 300;
      text-decoration: underline;
    }
    &_tel {
      font-weight: 300;
      color: #323232!important;
    }
  }
}